[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
rope = "*"

[packages]
discord-py = "*"
pillow = "*"
attrs = "*"
cattrs = "*"
jsonpickle = "*"

[requires]
python_version = "3.6"
